@import "../../Styles/base/settings.scss";

button {
    width: 100%;
    padding: 10px;
    height: 30px;
    color: $myWhite;
    border: none;
    cursor: pointer;
    background-color: $primary;
    border-radius: 5px;
}
